@font-face {
	font-family: 'PTRootUIWebLight';
	src:
		url('../fonts/PT-Root-UI/PT-Root-UI_Light.woff2') format('woff2'),
		url('../fonts/PT-Root-UI/PT-Root-UI_Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTRootUIWebRegular';
	src:
		url('../fonts/PT-Root-UI/PT-Root-UI_Regular.woff2') format('woff2'),
		url('../fonts/PT-Root-UI/PT-Root-UI_Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* font-family: Arial,sans-serif; */

    font-family: 'PTRootUIWebRegular';
    /* font-weight: 300; */
    /* font-style: normal; */
}
  
body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}

input {
    border: solid 1px;
    padding: 5px;
    border-radius: 3px;

    margin-top: 3px;
}

input:focus {
    background-color: transparent;
    outline: none;
}

button {
    cursor: pointer;
}


/* JobSearch */

.container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.header {
    display: flex;
    justify-content: space-between;

    margin-top: 10px
}

.left_header {
    width: 120px;
    margin-top: 41px;
    margin-right: 15px;
}

.center_header {
    width: 220px;
    margin-top: 41px;
    margin-right: 15px;
}

.coat_arms_img {
    width: 90px;
    height: 115px;

    margin-top: 17px;
    margin-right: 15px;
}

.login_form p {
    text-align: center;
    margin-bottom: 5px;
}

.login_form_input {
    width: 230px; 
}

.login_form_input input {
    width: 100%;
    margin-right: 7px;
    margin-bottom: 5px;
}

.login_form_input_password {
    font-family: caption;
}

.login_form_btn {
    width: 100%;

    padding: 5px;
    border: none;
    border-radius: 12px;

    color: #fff;
    background-color: #0032A0;
}

.registration_transition {
    font-size: 12px;
    display: flex;
    justify-content: center;

    margin-top: 3px;
}

.registration_transition p {
    font-size: 13px;

    padding-right: 3px;

    color: #0032A0;
}

.registration_transition p:last-child {
    font-size: 13px;
    font-weight: 700;

    color: #0032A0;
}

.navbar {
    height: 35px;
    width: 100vw;
    background-color: #0032A0;

    margin-top: 15px;

    transform: translateX(-50%);
    position: relative;
    left: 50%;
    display: flex;
    justify-content: space-evenly;
}

.link {
    color: #fff;
    padding-top: 6px;
}

.search {
    margin-top: 30px;
}

.search_field {
    display: flex;

    height: 30px;

    margin-top: 5px;
}

.search_field input {
    width: 700px;

    padding: 15px 7px;
}


.search_field button {
    width: 50px;
    height: 32px;

    margin-top: 3px;
    margin-left: -3px;

    background-color: #0032A0;
    background-repeat: no-repeat;

    border: none;
    border-radius: 0 5px 5px 0;
}

.main_content {
    margin-top: 45px;
}

.main_content_title {
    font-size: 21px;
    text-align: center;

    margin-bottom: 10px;
}

.listVacancies {
    max-width: 945px;

    margin-left: 225px;
    margin-bottom: 15px;
    padding: 15px;

    box-shadow: 0 2px 12px #edeff0;
    
    border: 1px solid transparent;
    border-radius: 4px;
}

.listVacancies h1{
    font-size: 16px;
    font-weight: 100;
}

.listVacancies_profession{
    color: #0032A0;

    margin-bottom: 7px;
}

.listVacancies_company{
    color: #0032A0;

    margin-bottom: 3px;
}

.listVacancies_salary{
    font-weight: 700 !important;

    margin-bottom: 3px;
}

.listVacancies_address{
    margin-bottom: 5px;
}

.listVacancies_respond{
    color: #fff;
    background-color: #0032A0;

    margin-top: 15px;
    margin-right: 8px;
    padding: 5px 10px;

    border: none;
    border-radius: 5px;
}

.listVacancies_show_contacts{
    color: #0032A0;
    background-color: #fff;

    padding: 5px 10px;

    border: solid 1px #0032A0;
    border-radius: 5px;
}

.search_field_settings{
    display: none;
}







/* Registration */

.registration{
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.registration h1{
    font-size: 21px;
    text-align: center;

    margin-top: 15px;
    margin-bottom: 12px;
}

.registration input{
    width: 100%;
    margin-bottom: 7px;
}

.registration input:focus{
    border: solid 2px #0032A0;
}

.registration_about_me{
    width: 100%;
    height: 75px;

    resize: none;
    outline:none;
}
.registration_about_me:focus{
    border-color: #0032A0;
}

.registration_btn{
    width: 100%;

    color: #fff;
    background-color: #0032A0;

    border: none;
    border-radius: 5px;

    margin-top: 10px;
    padding: 5px 10px;
}





/* JobSearch */

@media (max-width: 643px){
    .left_header{
        display: none;
    }

    .center_header{
        display: none;
    }

    .header{
        justify-content: space-around;
    }
}

@media (max-width: 643px){
    .coat_arms_img{
        display: none;
    }

    .search_field_settings{
        display: block;

        margin-top: 7px;
        margin-right: 13px;
        margin-left: -39px;

        cursor: pointer;
    }

    .listVacancies {
        margin-left: 0px;
    }
}